language: node_js

node_js:
        - 'node'
        - '10'
        - '8'

env:
        - workerCount=3 timeout=600000  

matrix:
        fast_finish: true  

branches:
        only:
                - master
                - develop
                - /^(?i:feature).*$/

install:
          - npm uninstall typescript --no-save   
          - npm uninstall tslint --no-save   
          - npm install

script: 
        - npm run test
