<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Compose</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/undo.js" type="text/javascript"></script>
</head>

<body>
    <div class="container">
            <noscript>
                    <div class="col s12 m2 red">
                            <p class="z-depth-5 white-text center-align">Compose requires javascript, please enable javascript and refresh.</p>
                    </div>
            </noscript>
            <nav>
                    <div class="nav-wrapper teal lighten-2">
                      <a href="#!" class="brand-logo center">To Many</a>
                      <ul class="left hide-on-med-and-down">
                        <li><a href="/">Compose</a></li>
                        <li class="active"><a href="/undo">Revert</a></li>
                      </ul>
                    </div>
                  </nav>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="row">
            </div>
            <div class="row">
                <div class="col m2" style="text-align:right;margin-left:17.5%;">
                    <label style="line-height:36px;">Select Language</label>
                </div>
                <div class="col m5">
                    <select class="browser-default" name="languageSelect">
                        <option value="" disabled selected>No langauge selected</option>
                        <% list.forEach(function(language) { %>
                            <option><%= language %></option>
                        <% }); %>
                    </select>
                </div>
            </div>
            <div class="row">
                    <div class= "col m2" style="text-align:right;margin-left:17.5%;">
                        <label style="line-height:64px;">Composed file</label>
                    </div>
                    <div class="col m5">
                        <div class="file-field input-field">
                                <div class="btn m2" style="float:right">
                                        <span>Browse</span>
                                        <input type="file" name="source"/>
                                    </div>
                            <div class="file-path-wrapper m10">
                                <input class="file-path validate" type="text" id="filename">
                            </div>
                        </div>
                    </div>
            </div>

            <div class="row outform">
                <div class="col m2" style="text-align:right;margin-left:17.5%;">
                    <label style="line-height:36px;">Output filename</label>
                </div>
                <div class="col m5">
                    <input type="text" name="outfile">
                </div>
            </div>
            <div id="submit" class="row" style="text-align:center">
                <button class="btn waves-effect waves-light" type="button" name="action">Submit
                    <i class="material-icons right"></i>
                </button>
            </div>



            <div class="progress" style="display:none">
                <div class="indeterminate"></div>
            </div>
        </form>
    </div>
    <div style="display:none">
    <form id="request" action="api/v1/revert" method="post" enctype="multipart/form-data">
        <input type="text" name="language" value=""/>
        <input type="text" name="entry" value=""/>
        <input type="text" name="out" value=""/>
        <input type="file" name="file" value=""/>
    </form>
    </div>
</body>
</html>
