<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Compose</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="text/javascript">
        function injectSubmit(){
            document.getElementById("submit").innerHTML = '<div class="btn" onclick="injectDownload();this.onclick=null">\
                            <span>Submit</span>\
                        </div>'
            
        }
        function injectDownload(){
            document.getElementById("download").innerHTML = '<div class="btn" onclick="alert(\'Not Implemented\')">\
                            <span>Download</span>\
                        </div>'
        }
        

    </script>
</head>

<body>
    <div class="container">
        <form action="combine" method="post" enctype="multipart/form-data"></form>
            <div class="row">
                
            </div>
            <div class="row">
                <div class="col m2" style="text-align:right;margin-left:17.5%;">
                    <label style="line-height:36px;">Select Language</label>
                </div>
                <div class="col m5">
                    <select class="browser-default">
                        <option value="" disabled selected>No langauge selected</option>
                        <% list.forEach(function(language) { %>
                            <option><%= language.name %></option>
                        <% }); %>
                    </select>
                </div>
            </div>
            <div class="row">
                    <div class= "col m2" style="text-align:right;margin-left:17.5%;">
                        <label style="line-height:64px;">Folder</label> 
                    </div>
                    <div class="col m5">
                        <div class="file-field input-field">
                                <div class="btn col m2" style="float:right" onclick="injectSubmit();this.onclick=null">
                                        <span>Browse</span>
                                        <input type="file" name="file"/>
                                    </div>
                            <div class="file-path-wrapper col m10">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
            </div>
            <div id="submit" class="row" style="text-align:center">
                    
            </div>
            <div  id="download" class="row" style="text-align:center"> 

            </div>
        </form>
    </div>
</body>
